html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  overflow: hidden;
  background-color: black;
}
.home {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000000bc;
  border-radius: 10px;
  padding: 10px;
}
.text-container {
  position: absolute;
  bottom:20px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.544);
  color: aliceblue;
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.media-controll {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.media-controll button {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
}
.media-controll button:hover:not(#hidden) {
  background-color: black;
}
#text {
  display: grid;
  align-items: center;
  justify-items: start;
  margin-left: 10px;
}

/* effects */
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
